<mat-card >

 

<div  class="alinear" *ngFor="let categoria of categorias" >
<button mat-button [matMenuTriggerFor]="menu">{{categoria.name}}</button>
<mat-menu #menu="matMenu">
  <button  *ngFor="let sub of categoria.sublevels" mat-menu-item>{{sub.name}}</button>
 
</mat-menu>

</div>

</mat-card>


<div   class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-static-name" class="modal-title pull-left">Car</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div   class="col-sm-12">
                <app-car></app-car>
              </div>

        </div>
      </div>
    </div>
  </div>