<div class="row">

 <div   class="col-sm-3">
    <h2 class="example-h2">Orden</h2>

    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          (change)="updateorden()"
          [checked]="productsOR"
          [disabled]="disabled">

      </mat-slide-toggle>
    </section>
</div>

 <div   class="col-sm-3">
  <ng5-slider   [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
</div>
 <div   class="col-sm-4">
  
</div>

  <div *ngFor="let product of products "  class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <b>{{product.price}}</b>
        <p class="card-text">{{product.quantity }} {{product.available}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
 
</div>